# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.Python
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments anywhere
**/venv/
**/.venv/
**/env/
**/ENV/

# Dependencies
frontend/node_modules/

# Next build output
frontend/.next/
frontend/out/

# Production build
frontend/build/

# Coverage
frontend/coverage/

# Vercel
frontend/.vercel/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# TypeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Environments
.env
.env.*
**/.env
**/.env.*

# Security 
*.pem
*.key

# OS
.DS_Store
Thumbs.db

